#
#Módulo dotenv para las variables .env
#
python-dotenv==0.15.0
#Alternativa para el módulo  nv
#python3 -m pip install nv
#
#Módulo requests
requests==2.26.0

#
#Crear la aplicación con la imagen estando en este mismo directorio con el siguiente 
#comando: docker build --tag artistfy .
# 
#
#Nuevo contenedor con la imagen de python
#
#docker run -dit --name python3.10 -v $PWD:/app -w /app python:3.12.0-slim-bullseye-slim-buster
#
#Ejecutar el contenedor con la imagen de python
#
#docker exec -it python3.10 bash
#
#Instala las Extensiones de VS Code:

#Instala la extensión "Remote - Containers" de Visual Studio Code. Esta extensión permite abrir cualquier carpeta o proyecto en un contenedor, incluyendo tu proyecto Python en un contenedor Docker.
#Instala la extensión "Python" de Microsoft para obtener soporte completo de Python en VS Code.
#Abre tu Proyecto en VS Code:

#Abre VS Code y abre la carpeta de tu proyecto Python en el editor.
#Configura el Archivo .devcontainer/devcontainer.json:

#En la raíz de tu proyecto, crea un directorio llamado .devcontainer.
Dentro de .devcontainer, crea un archivo llamado devcontainer.json y configúralo para usar la imagen de Docker y las configuraciones del contenedor. Aquí tienes un ejemplo de devcontainer.json:
#